#story {
  display: none;
}

.link-button {
  background-color: rgb(0, 132, 255);
  color: white;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 4px;
}

.container {
  background-color: whitesmoke;
}

.bottom {
  color: lightslategray;
  text-align: center;
}